<h1>Welcome to Samwise!</h1>
Manage your job applications, contacts, and keep track of your touchpoints with people in one place
<hr>

<form action="/user_verify_credentials" method="post">
  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="email_box" class="form-label">Email address</label>
        <input id="email_box" name="query_email" placeholder="name@example.com" type="email" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="password_box" class="form-label">Password</label>
        <input id="password_box" name="query_password" placeholder="Password" type="password" class="form-control">
    </div>
  </div>

  <button class="btn btn-primary">
    Sign in
  </button>
  
</form>

<hr>

<p>
  If you don't have an account <a href="/user_sign_up">Create a new one</a> instead.
</p>
