<p><h1>Manage your job search in one place!</h1></p>

  <p> Keep track of your <strong> <i class="bi bi-list-check"></i> Job Applications </strong> and prepare <strong> <i class="bi bi-rocket-takeoff-fill"></i> Interview Questions </strong> - Powered by <strong> ChatGPT</strong></p>
  <p> Manage hundreds of <strong> <i class="bi bi-person-fill-check"></i> Contacts </strong> and keep track of your <strong> <i class="bi bi-telephone-x"></i> Touchpoints </strong> (coffee chats, interviews, etc.) </p>
  <p> Build your target list of <strong> <i class="bi bi-archive"></i> Companies </strong> </p>


<hr>

<form action="/user_verify_credentials" method="post">
  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="email_box" class="form-label">Email address</label>
        <input id="email_box" name="query_email" placeholder="name@example.com" type="email" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="password_box" class="form-label">Password</label>
        <input id="password_box" name="query_password" placeholder="Password" type="password" class="form-control">
    </div>
  </div>

  <button class="btn btn-primary">
    Sign in
  </button>
  
</form>

<hr>

<p>
  If you don't have an account <a href="/user_sign_up">Create a new one</a> instead.
</p>
