<h1>Welcome to Samwise!</h1>
Manage your job applications, contacts, and keep track of your touchpoints with people in one place

<hr>

<h4>Create a new account</h4>

<form action="/insert_user" method="post">

  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="email_box" class="form-label">Email address</label>
        <input id="email_box" name="query_email" placeholder="name@example.com" type="email" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="first_name_box" class="form-label">First name</label>
        <input id="first_name_box" name="query_first_name" placeholder="First name" type="text" class="form-control">
    </div>

    <div class="col-md-4 mb-3">
        <label for="last_name_box" class="form-label">Last name</label>
        <input id="last_name_box" name="query_last_name" placeholder="Last name" type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
        <label for="password_box" class="form-label">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password" type="password" class="form-control">
    </div>

    <div class="col-md-4 mb-3">
        <label for="password_confirmation_box" class="form-label">Password confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password" type="password" class="form-control">
    </div>
  </div>

  <button class="btn btn-primary">
    Create account
  </button>

</form>


<hr>

<p>
  Or, <a href="/user_sign_in">Log in</a> instead.
</p>
